body{
    background-image: url("../../../Images/background.jpg");
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: white;
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

main {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.featured, .popular, .categories {
    background: #E8E8E8;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 4px solid #800020;
}

.profile-picture {
    width: 15rem;
    height: 15rem;
    border-radius: 8px;
    background-color: #E8E8E8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
}
.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.profile-container {
    display: flex;
    align-items: center;
}
.profile-container .featured-info {
    margin-left: 2rem;
}

.featured-info {
    margin-right: 20px; 
}

.popular .post-list {
    display: flex;
    justify-content: space-between;
}

.popular .post-item {
    text-align: center;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #E8E8E8;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.popular .post-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.popular .post-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.popular .post-item h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.popular .post-item p {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 15px;
}

.popular .post-item a {
    text-decoration: none;
    color: #800020;
    font-weight: bold;
    transition: color 0.3s;
}

.popular .post-item a:hover {
    color: #333;
}

.categories ul {
    list-style: none;
    padding: 0;
}

.categories ul li {
    background: #EE4B2B;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.categories ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

footer {
    text-align: center;
    background: #333;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
